@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;700;900&display=swap');

//----------FONTS ----------------------
$font-family-Bebas: 'Bebas Neue', cursive;
$font-family-Lato: 'Lato', sans-serif;


// --------COLOR PALETTE ---------------

$background-color: #182C3F;
$side-card-color: #24385B;
$secondary-color: #98CA3F;
$font-color: #FFFFFF;
$font-easy-color: #E8C921;
$font-medium-color: #F97308;
$font-hard-color: #FF7475;
$line-border-color: #0C1633;

//----------BORDER RADIUS- --------------

$border-radius-card: 5px;