@import '../../assets/styles/components/Global.scss';

.card{
  display: inline-block;
  width: 200px;
  height: 220px;
  background-color: $side-card-color;
  border-radius: $border-radius-card;
  text-align: center;
  
  &__title{
    //padding: 0 8px;
    text-align: center;
    font-size: 14px;
  }

  &__image{
    margin: 20px 70px 0 70px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }

  &__btn{
    margin-top: 20px;
    background-color: $secondary-color;
    border-style: none;
    border-radius: $border-radius-card;
    width: 100px;
    height: 30px;
    color: $font-color;
    font-weight: bold;
    font-size: 14px;
  }

}
 