.homepage{
  display: grid;
  gap: 3rem;
  grid-template-columns: 25vw 75vw;
  grid-template-areas: 'homepage__sidebar homepage__challenges';
}
.homepage__sidebar{
  grid-area: "homepage__sidebar";
}
.homepage__challenges{
  grid-area: "homepage__challenges";
}